.login-form {
	max-width: 400px;
	margin: 100px auto;

}

.inputs {
	padding: 26px 26px;
}

.headers {
	padding: 0px 10px;
	background-color:#417690;
	color:#fff;
	padding: 20px 0px;
}

.text-faint {
	color:#F1F1F2;
}

.blue-submit {
	color:#79aec8;
}
